@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/* 
    font-family: 'Open Sans', sans-serif;
    font-family: 'Playfair Display', serif;
*/
*{
    margin: 0px;
    padding: 0px;
    list-style: none;
    text-decoration: none;
}
a{
    text-decoration: none;
}
/* -----------------------header section start-------------- */
header{
    width: 100%;
    padding: 1rem;
    position: absolute;
    z-index: 1 !important;
}
.navbar-brand{
    color: #fff !important;
    font-size: 24px !important;
    font-weight: 700;
    font-family: 'Playfair Display', serif;
    z-index: 1 !important;
}
.nav-link{
    font-size: 14px !important;
    color: rgba(255, 255, 255, 0.7) !important;
    font-family: 'Open Sans', sans-serif;
    margin-left: 15px;
    margin-right: 15px;
}
.nav-link:hover{
    color: #fff !important;
}
.active{
    color: #fff !important;
}
.btn_contact a{
    padding: 6px 20px;
    border: 2px solid rgba(255, 255, 255, 0.2);
    color: #fff;
    border-radius: 30px;
    background-color: transparent;
    display: inline-block;
    text-decoration: none;
    transition: all .5s ease;
}
.btn_contact a:hover{
    background-color: #fc8621;
    border: 2px solid #fc8621;
    color: #fff;
}
/* -----------------------header section end-------------- */

/* ---------------------banner section start-------------- */
#banner{
    background-image: url("../img/banner.png");
    width: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: rgba(0, 0, 0, 0.35);
    background-blend-mode: soft-light;
    padding: 100px 0px;
    height: 100vh;
}
.banner_content{
    z-index: 1;
}
.banner_content h1 {
	font-size: 40px;
	color: #fff;
	font-family: 'Playfair Display', serif;
	font-weight: 700;
	margin-bottom: 48px;
	width: 268px;
	line-height: 50px;
}
.vh-80{
    height: 80vh;
}
.banner_play i{
    height: 60px;
    width: 60px;
    background-color: #fff;
    color: #000;
    border-radius: 100%;
    text-align: center;
    position: relative;
    line-height: 60px;
    margin-bottom: 150px;
    z-index: 1;
}
.banner_play i::after{
    content: "";
    position: absolute;
    height: 70px;
    width: 70px;
    border: 2px solid #fff;
    border-radius: 100%;
    top: -5px;
    left: -5px;
    z-index: -1;
}
.banner_location i{
    height: 40px;
    width: 40px;
    background-color: rgba(0, 0, 0, 0.2);
    color: #fff;
    border-radius: 100%;
    text-align: center;
    position: relative;
    line-height: 40px;
}
.banner_location span{
    color: #fff;
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    margin-left: 16px;
}

.banner_play span{
    color: #fff;
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    margin-left: 16px;
}
/* ---------------------banner section end-------------- */

/* ----------------------about section code start---------------------- */
#about{
    width: 100%;
    padding: 80px 0px;
}
.about_content span{
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 700;
    color: #fc8621;
    font-family: 'Open Sans', sans-serif;
}
.about_content h2{
    font-size: 40px;
    color: #000;
    font-weight: 700;
    font-family: 'Playfair Display', serif;
    margin-bottom: 16px;
    width: 400px;
}
.about_content p{
    color: #212529;
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
    margin-bottom: 16px;
    width: 435px;
}
.read_more{
    padding: 10px 30px;
    font-size: 16px;
    font-weight: 400;
    background-color: #fc8621;
    border: 1px solid #fc8621;
    border-radius: 30px;
    color: #fff;
    display: inline-block;
    margin-top: 20px;
}
.read_more:hover{
    background-color: #fc9842;
    border: 1px solid #fc9842;
    color: #fff;
}
/* ----------------------about section code end---------------------- */

/* ---------------------------------testimoial sction start---------- */
#testimonial{
    background-color: #f8f9fa ;
    padding: 80px 0px;
}
.testimonial_content h5{
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 700;
    color: #fc8621;
    font-family: 'Open Sans', sans-serif;
    margin-bottom: 3px;
}
.testimonial_content h2{
    font-size: 30px;
    font-family: 'Playfair Display', serif;
    color: #000;
    font-weight: 700;
    margin-bottom: 48px;
    text-transform: capitalize;
    letter-spacing: 2px;

}
.testimonia_slide img{
    width: 80px;
    border-radius: 100%;
}
.testimonia_slide h5{
    font-size: 18px !important;
    color: #fc8621;
    font-weight: 500;
    font-family: 'Playfair Display', serif;
    text-transform: capitalize;
    letter-spacing: 0px !important;
    margin-top: 10px;
}
.testimonia_slide h6{
    font-size: 14px;
    color: #000;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    margin-top: 5px;
}
.testimonia_slide blockquote{
    color: #212529;
    font-size: 14px;
}
.testimonial_fqa h5{
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 700;
    color: #fc8621;
    font-family: 'Open Sans', sans-serif;
    margin-bottom: 3px;
}
.testimonial_fqa h2 {
	font-size: 30px;
	font-family: 'Playfair Display', serif;
	color: #000;
	font-weight: 700;
	margin-bottom: 48px;
	text-transform: capitalize;
	letter-spacing: 2px;
	width: 274px;
}
.accordion-button:not(.collapsed) {
	color: #fff !important;
	background-color: #fc8621 !important;
	box-shadow: none !important;
}
.accordion-button {
	color: #000 !important;
    background-color: #f8f9fa !important;
    border: none !important;
    font-size: 16px !important;
    font-family: 'Playfair Display', serif;
    padding-left: 36px;
}
.accordion-item {
	background-color: #f8f9fa !important;
	border: 0px solid rgba(0,0,0,.125) !important;
}
.accordion-button:focus {
	z-index: 3;
	border-color:none !important;
	outline: 0;
	box-shadow: none !important;
}
.accordion-body {
	padding: 1rem 1.25rem;
	color: #212529;
	font-size: 15px;
}
.accordion-button:not(.collapsed)::after {
	background-image: url("../img/minus.png");
	transform: rotate(-180deg);
    color: #fff;
}
.accordion-button::after {
	background-image: url("../img/plus.png");
    position: absolute;
    left: 8px;
}
#testimonial .owl-carousel .owl-item img {
	display: inline-block;
	width: 80px;
}
#testimonial .owl-theme .owl-nav {
	display: none;
}
#testimonial .owl-theme .owl-dots, .owl-theme .owl-nav {
	text-align: left;
}
#testimonial .owl-theme .owl-dots .owl-dot span {
	width: 12px;
	height: 12px;
	border: 2px solid #fc8621;
    background-color: #fff;
}
#testimonial .owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {
	background: #fc8621;
}
.queat {
	color: #000;
	font-size: 5rem;
	margin-bottom: -55px;
}
/* ------------------server section start--------------------- */
#server{
    width: 100%;
    padding: 80px 0px;
}
.server_content span{
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 700;
    color: #fc8621;
    font-family: 'Open Sans', sans-serif;
}
.server_content h2{
    font-size: 40px;
    color: #000;
    font-weight: 700;
    font-family: 'Playfair Display', serif;
    margin-bottom: 16px;
    width: 400px;
}
.server_content p{
    color: #212529;
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
    margin-bottom: 16px;
    width: 435px;
}
.server_item a{
    color: #000;
    font-size: 23px;
    font-family: 'Playfair Display', serif;
    font-weight: 700;
}
.server_item h3{
    margin-top: 16px;
    margin-bottom: 10px;
}
.server_item p{
    color: #999;
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
}
.price{
    background-color: #fff;
    height: 80px;
    width: 90px;
    position: absolute;
    color: #fc8621 !important;
    font-family: 'Open Sans', sans-serif;
    font-size: 20px !important;
    display: inline-block;
    text-align: center;
    line-height: 80px;
    bottom: -16px;
    right: 0px;
    box-shadow: 0 15px 30px 0 rgb(0 0 0 / 10%);
}
#server .owl-theme .owl-dots .owl-dot span {
	width: 12px;
	height: 12px;
	border: 2px solid #fc8621;
    background-color: #fff;
}
#server .owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {
	background: #fc8621;
}
#server .owl-carousel .owl-nav button.owl-next, .owl-carousel .owl-nav button.owl-prev, .owl-carousel button.owl-dot {
	font-size: 50px;
    margin-left: 0px;
    background: none !important;
    color: #999;
}
#server .owl-theme .owl-nav {
	margin-top: 10px;
	position: absolute;
	top: -170px;
	right: 0px;
}
#server .owl-theme .owl-nav [class*="owl-"]:hover {
	color: #fc8621;
}
/* ------------------server section  end--------------------- */

/* ----------blog section code start---------------- */
#blog{
    width: 100%;
    padding: 80px 0px;
}
.blog_head span{
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 700;
    color: #fc8621;
    font-family: 'Open Sans', sans-serif;
}
.blog_head h4{
    font-size: 46px;
    color: #000;
    font-weight: 700;
    font-family: 'Playfair Display', serif;
    margin-bottom: 50px;
}
.blog_content{
    margin-left: 15px;
    margin-right: 15px;
}
.blog_content span{
    font-size: 12px;
    color: #212529;
    font-family: 'Open Sans', sans-serif;
}
.blog_content h2,a{
    font-size: 16px;
    color: #000;
    font-family: 'Playfair Display', serif;
    font-weight: 700;
}
.blog_content h2,a:hover{
    color: #fc8621;
}
.blog_content p{
    color: #212529;
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
    margin-bottom: 16px;
    width: 204px;
}
.blog_btn{
    color: #fc8621;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    transition: .80s;
}
.blog_btn:hover{
    opacity: .7;
}
/* ----------blog section code end---------------- */

/* -------------------get section code start--------------- */
#get_started{
    padding: 50px 0px;
    background-color: #fc8621;
    width: 100%;
}
.get_started_content h3{
    font-size: 24px;
    color: #fff;
    font-family: 'Playfair Display', serif;
    font-weight: 700;
    letter-spacing: 1px;
}
.get_btn{
    padding: 10px 30px;
    border: 1px solid #fff;
    color: #fff;
    border-radius: 30px;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    letter-spacing: 1px;
    text-align: right;
    display: inline-block;
    transition: all .80s ease;
}
.get_btn:hover{
    background-color: #fff;
    color: #fc8621;
}
/* -------------------get section code end--------------- */

/* -------------------contact section code start---------- */
#contact{
    background-color: #efefef;
    width: 100%;
    padding: 80px 0px 0px;
}
.contact_item h4{
    color: #000;
    font-size: 16px;
    font-family: 'Playfair Display', serif;
    margin-bottom: 30px;
    font-weight: 700;
}
.contact_item p{
    font-size: 14px;
    color: #888;
    font-family: 'Open Sans', sans-serif;
    margin-bottom: 0px;
    width: 356px;

}
.connect_section h5 {
	color: #000;
	font-size: 16px;
	font-family: 'Playfair Display', serif;
	margin-bottom: 30px;
	font-weight: 700;
	margin-top: 45px;
}
.connect_social_icon a{
    text-decoration: none;
}
.connect_social_icon i{
    height: 30px;
    width: 30px;
    background-color: #777;
    color: #fff;
    line-height: 30px;
    text-align: center;
    display: inline-block;
    border-radius: 100%;
    transition: all .80s ease;
}
.connect_social_icon i:hover{
    background-color: #fc8621;
}

.contact_item ul{
    margin: 0px;
    padding: 0px;
}
.contact_item ul li{
    margin-bottom: 10px;
}
.contact_item ul li a{
    color: #777;
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
}
.mobile_item p{
    font-size: 14px;
    color: #888;
    font-family: 'Open Sans', sans-serif;
    margin-bottom: 10px;
    width: 245px;
}
.mobile_item p a{
    font-size: 14px;
    color: #777;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
}
/* -------------------contact section code end---------- */

/* ----------------footer section start--------------- */
footer{
    background-color: #efefef;
    padding: 60px 0px;
}
.footer_content p{
    text-align: center;
    font-size: 14px;
    color: #777;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
}
.footer_content a{
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
    color: #f78d30;
}
.footer_content i{
    color: #dc3545 !important;
}
/* ----------------footer section end--------------- */
/* particle js */

#particles-js{
    width: 100%;
    height: 100%;
    background-color: #b61924;
    background-image: url('');
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
  }

  .particles-js-canvas-el{
      position: absolute;
  }

/* ------------responsiv design start now here------------------- */
@media screen and (max-width:768px) {
    .about_content h2 {
        font-size: 24px;
        width: 100%;
    }
    .about_content p {
        width: 100%;
    }
    .server_content p {
        width: 100%;
    }
    .contact_item p {
        width: 100%;
    }
    .respon {
        justify-content: start !important;
        margin-top: 20px;
    }
}
@media screen and (max-width:576px) {
    .read_more {
        margin-bottom: 20px;
    }
    .vh-70{
        height: 70vh;
    }
    .banner_play i {
        margin-bottom: 100px;
    }
    #banner {
        height: auto;
    }
    .banner_location span {
        color: #fff;
        font-size: 13px;
        font-family: 'Open Sans', sans-serif;
        margin-left: 16px;
    }
    .server .owl-theme .owl-nav {
        display: none;
    }
    .connect_social_icon i {
        margin-bottom: 30px;
    }
    .testimonial_fqa h5 {
        margin-top: 50px;
    }
    .blog_item{
        margin-bottom: 20px;
    }
}
